body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Card {
 border: 1px solid gray;
 width: 200px;
 height: 200px;
 color:black;
 margin-bottom: 10px;
}

.albumLink { 
  text-decoration: none;
}

#albumSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}